/* menu de navegavao */ 

nav {
    display: flex;
    margin-right: 60px;
    width: 450px;
    height: auto;
    justify-content: space-around;
}

.link-nav-padrao {
    background-color: #131313;
    color: white;
    /*font-size: 30px;*/
    transition: 0.2s;
    border: none;
}

.link-nav-padrao:hover {
    color: blueviolet;
}

.link-nav-roxo {
    background-color: #131313;
    color: blueviolet;
    font-size: 12px;
    transition: 0.8s;
    border: none;
}

