/* layout da secao de servicos detalhados */
.container-servicos-detalhes {
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    background-color:  black;/*#131313;*/
}

/* container da divisao dos conteudos entre img e text */
.container-servicos-info-detalhes {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

/* estilizacao do container caso nao ache o id do servico */
.not-found-services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
}

/* container do titulo */
#titulo-servicos-detalhes {
    width: auto;
    /*margin-right: 810px;*/
}

/* titulo da secao */
#titulo-pagina-serDetalhes {
    color: white;
    font-size: 36px;
    margin-top: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Source Serif 4", serif;
}

/* img da secao de servicos detalhados */
.img-servicosDetalhados {
    width: 300x;
    height: 510px;
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 3px;
}

/* estilizacao do titulo de informacoes de pacote */
.pacotes-detalhes {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 19%;
}

/* preco do servico */
#preco-servicos {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    padding: 12px 18px;
    border: solid white 1px;
    border-radius: 3px;
    margin-bottom: 20px;
}

/* container de estilizacao das lista */
#container-list-servicos {
    margin-left: 26px;
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: start;
}