
/* layout dos cards */
.servicos-layout {
    /*border: solid blue 2px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: auto;
    height: 700px;
    padding: 0px;
    margin: 0px;
}

/* estilizacao dos cards de servicos */
.card-props {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 320px;
    padding: 0;
    margin: 0;
}

/* estilizacao dos cards retangulares de servicos */
.card-props-retangulo {
    display: flex;
    /*border: solid blue 2px;*/
    flex-direction: column;
    width: 718px;
    height: 320px;
    /*margin-bottom: 20px;*/
    padding: 0;
}

/* estilizacao do link dos cards */
.card-link {
    text-decoration: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

/* estilizacao da imagem dos cards */
.card-img {
    width: auto;
    height: 250px;
    margin: 0;
}


/* estilizacao do titulo dos cards */
.titulo-servico {
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 20px 0 0 0;
}


/* estilizacao do preco, preco do produto magin = 0 para ele ficar dentro do layout da div */
.preco-card {
    color: white;
    font-weight: 300;
    padding: 0;
    margin: 15px 0 0 0;
}