/* estilizacao do container da informacoes tecnicas do video-maker */
.container-skill {
    width: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    background-color: white;
}

