/* estilizacao do layout do footer */
footer {
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
}

/* container para menu do footer*/
#menu-footer {
    width: 100%;
    height: 70%;
}

/* container para reserved */
#container-reserved {
    width: 100%;
    height: 30%
    
}