
/* container do titulo */
#titulo-container-contato {
    width: auto;
    /*margin-right: 810px;*/
}


/* estilizacao do titulo da secao*/
#titulo-pagina-contato {
    color: white;
    font-size: 44px;
    margin-top: 40px;
    font-family: "Source Serif 4", serif;
    font-weight: 600;
}


/* estilizacao do layout para a imagem e info de contatos */
.layout-contato-segmentos {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: start;
    color: white;
    border: solid 1px blue;
    
}

#textoParaContato {
    
}

p {
    margin-bottom: 45px;
}