/* estilizacao do container do laout do component */
#container-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 900px;
    background-color: #131313;

}

/* container do titulo */
#titulo-container-servicos {
    width: auto;
    /*margin-right: 810px;*/
}

/* titulo da secao */
#titulo-pagina {
    color: white;
    font-size: 60px;
    margin-top: 20px;
    font-weight: 600;
    font-family: "Source Serif 4", serif;
}


/* linha de baixo do H3 servicos */
#linha-servicos {
    width: 156px;
    border: solid 1px white;
    margin-top: 4px;
    margin-bottom: 100px;
}
